		<main>
			<!-- For the hero section -->
			<div id="hero">
				<div class="container">
					<div id="herotext">
						<h1>Hi, My Name is Lencer Ondijo</h1>
						<h4>
								Solving problems brings me joy.
								Every learning interaction matters. Whether it be for awareness, 
								change or influence, there are many ways to create a meaningful 
								learning experience for your intended audience.
						</h4>
					</div>
				</div>
			</div>
        <!-- For your work/projects -->
			<div class="container">
				<div id="skills">
					<h2>here are some of the things i do...</h2>
				</div>
				<div class="row">
					<div class="column col-md-4 justfy-content-center">
							<!-- open first column (used for image) -->
							<picture>
									<source srcset="/assets/Logo1.png" media="(max-width:767px)">
									<img src="/assets/Logo1.png" alt="My Image">
							</picture>
							<h3>Bespoke learning solutions</h3>
							<p>eLearning design and development, interactive guides, animations, learning apps, chat bots, augmented reality experiences, virtual reality experiences, explainer videos - it just depends on what problem you are trying to solve!</p>
							<a href="#" class="btn btn-primary">View Case Study</a>
					</div>
          <div class="column col-md-4 justfy-content-center">
							<!-- open first column (used for image) -->
							<picture>
									<source srcset="/assets/Logo1.png" media="(max-width:767px)">
									<img src="/assets/Logo1.png" alt="My Image">
							</picture>
							<h3>Bespoke learning solutions</h3>
							<p>eLearning design and development, interactive guides, animations, learning apps, chat bots, augmented reality experiences, virtual reality experiences, explainer videos - it just depends on what problem you are trying to solve!</p>
							<a href="#" class="btn btn-primary">View Case Study</a>
					</div>
					<div class="column col-md-4 justfy-content-center">
							<!-- open first column (used for image) -->
							<picture>
									<source srcset="/assets/Logo1.png" media="(max-width:767px)">
									<img src="/assets/Logo1.png" alt="My Image">
							</picture>
							<h3>Bespoke learning solutions</h3>
							<p>eLearning design and development, interactive guides, animations, learning apps, chat bots, augmented reality experiences, virtual reality experiences, explainer videos - it just depends on what problem you are trying to solve!</p>
							<a href="#" class="btn btn-primary">View Case Study</a>
					</div>
				</div> <!----end of row----->
        <div class="row justify-content-center">
					<!-- open first column (used for image) -->
          <div class="col">
						<picture>
								<source srcset="/assets/Logo1.png" media="(max-width:767px)">
								<img src="/assets/Logo1.png" alt="My Image">
						</picture>
          </div>
					<div class="col">
						<h3>Let's create magic</h3>
					</div>
					<div class="col">
						<a href="#" class="btn btn-primary">View Case Study</a>
					</div>
				</div>
			</div><!----end of container----->
